[client]
port=3306
socket=/tmp/mysql.sock

[mysqld]
port=3306
socket=/tmp/mysql.sock
key_buffer_size=16M
max_allowed_packet=128M
max_connections=250

[mysqldump]
quick

[mysql]
no-auto-rehash
connect_timeout=2
